
/* GENERAL STYLE */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.container {
   
        width: 60%;
        margin: 50px auto;
        ;
}

/* UTILITES */
h5 {
    font-size: 106%;

}
p {
    font-size: 63%;
    margin-top: 1%;
 
}



/* PRODUZIONE GRIGLIE */
.colonna {
    display:inline-block ;
   width: calc(100% / 3);
   margin: 0% -2px 30px;
   padding: 0% 1%;
   
}

/* INSERZIONE IMMAGINI */
/* (dandogli il 100% contenitore) */
/* selezioo la classe tag e img cosi da poter selezionare tutte le immagini dentro al div .card */
.card img {
    width: 100%;
    display: block;
}
/* diamo position relative a card-image così da fare entrare il cuoricino , il prezzo sconto e la sostenibilità all'interno dell'immagine */
/*  (OGNI ELEMENTO CHE AVRò IN POSITION ABSOLUTE ENTRERà NELLA SEZIONE POSITION RELATIVE */
.card-image{
    position: relative;
}

/* nascondo la seconda immagine */
.card-image .second-image{
    display: none;
    
}

/* SWITCH IMMAGINI */

/* seleziono la prima immagine e la faccio scomparire */
.card-image:hover .first-image{
    display: none;
}
/* inserendo display block nella seconda immagine sempre in hover la faccio comparire appena vado con il mouse nella prima immagine */
.card-image:hover .second-image{
   display:block ;
}

/* INSERIMENTO ELEMENTI ALL'INTERNO DELL'IMMAGINE */
.hearts {
    position: absolute;
    top: 20px;
    right: 0;
    /* allineo sopra e sotto la grandezza dello sfondo del cuoricino */
    width: 13%;
    height: 11%;
    text-align: center;
    line-height: 50px;
    font-size: 25px;
    background: white   ;
}

.promo {
    /* andrà sempre dentro al papà (card-image) */
    position: absolute;
    bottom: 20px;
    left: 0;
    font-size: 12px;
}

/* in questo modo i due span avranno le stesse peculiarità */
.promo span {
    padding: 5px;
    color: white;
    font-weight: 550;
    /* questo fa si che anche se avessimo degli elementi più grossi non escono fuori dall'immagine ma prendono il loro spazio all'interno di essa */
    display: inline-block;
}

 .sconto {
     background: red;
 }
 .bedge {
     background: green;
 }
/* SEZIONE DESCRITTIVA DELLE IMMAGINI + PREZZO */
.text {
    margin-top: 2%;
}

.prezzo  {
    color: red;
    font-size: 66%;
}
.prezzo-originale {
    font-size: 66%;
}








 
