
/* GENERAL STYLE */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.container {
   
        width: 60%;
        margin: 50px auto;
        ;
}

/* UTILITES */
h5 {
    font-size: 106%;

}
p {
    font-size: 63%;
    margin-top: 1%;
 
}

.discounted {
    color: red;
}

/* PRODUZIONE GRIGLIE */
.colonna {
    display:inline-block ;
   width: calc(100% / 3);
   margin: 0% -2px 30px;
   padding: 0% 1%;
   
}

/* INSERZIONE IMMAGINI */
/* (dandogli il 100% contenitore) */
/* selezioo la classe tag e img cosi da poter selezionare tutte le immagini dentro al div .card */
.card img {
    width: 100%;
    display: block;
}

/* nascondo la seconda immagine */
.card-image .second-image{
    display: none;
    
}

/* SWITCH IMMAGINI */

/* seleziono la prima immagine e la faccio scomparire */
.card-image:hover .first-image{
    display: none;
}
/* inserendo display block nella seconda immagine sempre in hover la faccio comparire appena vado con il mouse nella prima immagine */
.card-image:hover .second-image{
   display:block ;
}


/* SEZIONE DESCRITTIVA DELLE IMMAGINI + PREZZO */
.text {
    margin-top: 2%;
}

/* INSERIMENTO SCONTI NELLE IMMAGINI */







 
