
/* GENERAL STYLE */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.container {
        width: 60%;
        margin: 50px auto;
        ;
}

/* UTILITES */
h5 {
    font-size: 106%;

}
p {
    font-size: 63%;
    margin-top: 1%;
 
}

.discounted {
    color: red;
}

/* PRODUZIONE GRIGLIE */
.colonna {
    display:inline-block ;
   width: calc(100% / 3);
   margin: 0% -2px 30px;
   padding: 0% 1%;
}

/* INSERZIONE IMMAGINI */
/* (dandogli il 100% contenitore) */

.img {
    width: 100%;
    height: 100%;
}

/* SEZIONE DESCRITTIVA DELLE IMMAGINI + PREZZO */
.text {
    margin-top: 2%;
}